html{
    scroll-behavior: smooth;
}

*{
    font-family: sans-serif;
    text-decoration: none;
}

body{
    box-sizing: border-box;
    margin: 0;
}

#header{
    display: flex;
    flex-direction: row;
    align-items: center;
    height: 15vh;
    width: 100%;
    z-index: 999;
    top: 0;
    left: 0;
    background-color: black;
    position: sticky;
}

.logo{
    width: 50%;
}

.logo img{
    width: 12%;
    margin-left: 3vh;
}

#hero-banner{
    width: 100%;
    height: 80vh;
    background-image: url(/img/herobn.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    padding-top: 10rem;
}

.selector{
    display: flex;
    flex-direction: row;
    list-style-type: none;
}

li{
    margin-left: 3vh;
    padding-top: 9px;
    color: white;
    text-align: center;
    width: 13vh;
    height: 4vh;
    border-radius: 3vh;
    transition: 0.5s;
}

li:hover{
    background-color: white;
    color: black;
}

li:active{
    opacity: 0.8;
}

.contact{
    margin-right: 2vh;
}

.slogan{
    color: white;
    position: relative;
    font-size: 4.5vh;
    margin-top: 45vh;
    margin-left: 5vh;
}

.read-more{
    position: absolute;
    width: 210px;
    height: 50px;
    border-radius: 50px;
    right: 15vh;
    top: 84vh;
    font-size: 17px;
    border: none;
    cursor: pointer;
    transition: 0.5s;
}

.read-more:hover{
    background-color: rgb(189, 189, 189);
}

.read-more:active{
    opacity: 0.8;
}