html {
  scroll-behavior: smooth;
}

* {
  font-family: sans-serif;
  text-decoration: none;
}

body {
  box-sizing: border-box;
  margin: 0;
}

/*Navbar*/

#header {
  display: flex;
  flex-direction: row;
  align-items: center;
  height: 15vh;
  width: 90%;
  z-index: 999;
  top: 0;
  left: 0;
  margin-left: 6vh;
  background-color: none;
  font-size: 2vh;
  position: absolute;
  background-color: transparent;
  border-bottom: 0.1vh solid white;
}

.logo {
  width: 50%;
}

.logo img {
  width: 12%;
  margin-left: 3vh;
}

.logo-animation {
  content: url(./../img/logo.png);
  transition: 1s;
}

.logo-animation:hover {
  animation: switch 0.5s forwards;
}

@keyframes switch {
  10% {
    content: url(./../img/m.png);
    opacity: 0.7;
  }
  20% {
    content: url(./../img/m.png);
    opacity: 0.5;
  }
  30% {
    content: url(./../img/m.png);
    opacity: 0.3;
  }
  40% {
    content: url(./../img/m.png);
    opacity: 0.15;
  }
  50% {
    content: url(./../img/m.png);
    opacity: 0;
  }
  60% {
    content: url(./../img/m.png);
    opacity: 0.15;
  }
  70% {
    content: url(./../img/m.png);
    opacity: 0.3;
  }
  80% {
    content: url(./../img/m.png);
    opacity: 0.5;
  }
  90% {
    content: url(./../img/m.png);
    opacity: 0.8;
  }
  100% {
    content: url(./../img/m.png);
    opacity: 1;
  }
}

.selector {
  display: flex;
  flex-direction: row;
  list-style-type: none;
}
.home,
.about,
.models,
.contact {
  margin-left: 3vh;
  padding-top: 1.5vh;
  color: white;
  text-align: center;
  width: 14vh;
  height: 4vh;
  border-radius: 3vh;
  transition: 0.5s;
}

.home:hover {
  background-color: white;
  color: black;
}

.home:active {
  opacity: 0.8;
}

.about:hover {
  background-color: white;
  color: black;
}

.about:active {
  opacity: 0.8;
}

.models:hover {
  background-color: white;
  color: black;
}

.models:active {
  opacity: 0.8;
}

.contact:hover {
  background-color: white;
  color: black;
}

.contact:active {
  opacity: 0.8;
}

.contact {
  margin-right: 2vh;
}

.profile {
  height: 4vh;
  cursor: pointer;
  margin-top: 0.8vh;
  margin-left: 7vh;
}

/*HomePage*/

#hero-banner {
  width: 100%;
  height: 120vh;
  margin-top: -9vh;
  background-image: url(./../img/bn.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  padding-top: 10rem;
  z-index: 999;
}

.slogan {
  color: white;
  display: grid;
  width: 130vh;
  line-height: 10vh;
  position: relative;
  font-size: 4vh;
  margin-top: 57vh;
  margin-left: 7vh; 
}

.read-more {
  position: absolute;
  width: 250px;
  height: 50px;
  border-radius: 4vh;
  right: 18vh;
  top: 82vh;
  font-size: 2vh;
  border: 0.4vh solid rgb(1, 102, 177);
  cursor: pointer;
  transition: 0.2s;
  color: white;
  background-color: rgb(1, 102, 177);
}

.read-more:hover {
  background-color: white;
  color: rgb(1, 102, 177);
}

.read-more:active {
  opacity: 0.8;
}

.explorepage{
  font-size: 6vh;
  color: rgb(104, 104, 104);
  margin-left: 80vh;
  cursor: default;
  transition: 0.1s;
}

.explorepage:hover{
  font-size: 6vh;
  color: rgb(1, 102, 177);
  margin-left: 80vh;
}

/*first-ad*/

#first-banner{
  width: 100%;
  height: 50vh;
  background-image: url(./../img/x5ad.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  margin-top: 8vh;
  z-index: 999;
}

.news {
  color: white;
  display: grid;
  width: 130vh;
  line-height: 0.1vh;
  position: relative;
  font-size: 4vh;
  padding-top: 10vh;
  margin-left: 7vh;
}

.news-price {
  color: white;
  display: grid;
  width: 80vh;
  line-height: 0.1vh;
  position: relative;
  font-size: 2vh;
  margin-left: 12vh;
}


.explore {
  position: absolute;
  width: 250px;
  height: 50px;
  border-radius: 4vh;
  margin-left: 12vh;
  margin-top: 10vh;
  font-size: 2vh;
  border: 0.4vh solid rgb(1, 102, 177);
  cursor: pointer;
  transition: 0.2s;
  color: white;
  background-color: rgb(1, 102, 177);
}

.explore:hover {
  background-color: white;
  color: rgb(1, 102, 177);
}

.explore:active {
  opacity: 0.8;
}

/*second-ad*/

#second-banner{
  width: 100%;
  height: 50vh;
  background-image: url(./../img/m2ad.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  margin-top: 8vh;
  z-index: 999;
}

.news-one {
  color: white;
  display: grid;
  width: 130vh;
  line-height: 0.1vh;
  position: relative;
  font-size: 4vh;
  padding-top: 10vh;
  margin-left: 14.5vh;
}

.news-price-one {
  color: white;
  display: grid;
  width: 80vh;
  line-height: 0.1vh;
  position: relative;
  font-size: 2vh;
  margin-left: 12vh;
}


.explore-one {
  position: absolute;
  width: 250px;
  height: 50px;
  border-radius: 4vh;
  margin-left: 13.5vh;
  margin-top: 10vh;
  font-size: 2vh;
  border: 0.4vh solid rgb(1, 102, 177);
  cursor: pointer;
  transition: 0.2s;
  color: white;
  background-color: rgb(1, 102, 177);
}

.explore-one:hover {
  background-color: white;
  color: rgb(1, 102, 177);
}

.explore-one:active {
  opacity: 0.8;
}

/*footer*/

#footer{
  width: 100%;
  height: 50vh;
  margin-bottom: 5vh;
  margin-top: 5vh;
  background-color: rgb(211, 211, 211);
  padding-top: 4vh;
}

.title-for-links{
  margin-left: 91vh;
  font-size: 3vh;
  color: rgb(73, 73, 73);
}

a{
  text-decoration: none;
  color: inherit;
}

.rights1{
  margin-left: 30vh;
  margin-top: 9vh;
  font-size: 2.5vh;
  color: rgb(73, 73, 73);
  cursor: pointer;
  transition: 0.1s;
}

.rights1:hover{
  color: rgb(1, 102, 177);
}

.rights2{
  margin-left: 30vh;
  margin-top: 3vh;
  font-size: 2.5vh;
  color: rgb(73, 73, 73);
  cursor: pointer;
  transition: 0.1s;
}

.rights2:hover{
  color: rgb(1, 102, 177);
}

.rights3{
  margin-left: 30vh;
  margin-top: 3vh;
  font-size: 2.5vh;
  color: rgb(73, 73, 73);
  cursor: pointer;
  transition: 0.1s;
}

.rights3:hover{
  color: rgb(1, 102, 177);
}

.rights4{
  margin-left: 30vh;
  margin-top: 3vh;
  font-size: 2.5vh;
  color: rgb(73, 73, 73);
  cursor: pointer;
  transition: 0.1s;
}

.rights4:hover{
  color: rgb(1, 102, 177);
}

.insta{
  width: 9vh;
  margin-left: 130vh;
  margin-top: -23vh;
  position: absolute;
}

.fb{
  width: 5.5vh;
  margin-left: 131.9vh;
  margin-top: -16vh;
  position: absolute;
}

.yt{
  width: 6.2vh;
  height: 5vh;
  margin-left: 131.6vh;
  margin-top: -8.7vh;
  position: absolute;
}